<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daoklab.test.dbid.dao.UserUuidMapper">
	
	
	<!-- parameter 所有查询列 -->
	<sql id="QUERY_COLUMN_LIST">
		<![CDATA[user_id, user_name, sex, address, city, email, state]]>
	</sql>
	
	<!-- parameter 所有查询列 需自己修改，自定义简化版本返回内容 -->
	<sql id="QUERY_SIMPLE_COLUMN_LIST">
		<![CDATA[user_id, user_name, sex, address, city, email, state]]>
	</sql>
	
	<!-- parameter 查询列来源表-->
	<sql id="QUERY_FROM_TABLE"><![CDATA[FROM user_uuid]]></sql>
	
	<!-- 全部条件(包括queryData的扩展),除开主键  -->
	<sql id="QUERY_WHERE_CLAUSE">
		<where>
			    <if test="userId != null"><![CDATA[AND user_id = #{userId}]]></if>
			    <if test="userName != null"><![CDATA[AND user_name = #{userName}]]></if>
			    <if test="sex != null"><![CDATA[AND sex = #{sex}]]></if>
			    <if test="address != null"><![CDATA[AND address = #{address}]]></if>
			    <if test="city != null"><![CDATA[AND city = #{city}]]></if>
			    <if test="email != null"><![CDATA[AND email = #{email}]]></if>
			    <if test="state != null"><![CDATA[AND state = #{state}]]></if>
		</where>
	</sql>
  	
  	<!-- 更新列字段,只要不为NULL则更新,除开主键 -->
	<sql id="UPDATE_COLUMN_SET">
		<set>
			    <if test="userId != null"><![CDATA[user_id = #{userId},]]></if>
			    <if test="userName != null"><![CDATA[user_name = #{userName},]]></if>
			    <if test="sex != null"><![CDATA[sex = #{sex},]]></if>
			    <if test="address != null"><![CDATA[address = #{address},]]></if>
			    <if test="city != null"><![CDATA[city = #{city},]]></if>
			    <if test="email != null"><![CDATA[email = #{email},]]></if>
			    <if test="state != null"><![CDATA[state = #{state},]]></if>
		</set>
	</sql>
	
	<!-- 智能排序与分页 -->
  	<sql id="QUERY_ORDER_LIMIT_CONDTION">
  		<if test="orderField != null and orderField != '' and orderFieldType != null and orderFieldType != ''"><![CDATA[ORDER BY ${orderField} ${orderFieldType}]]></if>
  		<if test="startIndex != null and startIndex &gt;= 0 and pageSize != null and pageSize &gt; 0"><![CDATA[LIMIT #{startIndex}, #{pageSize}]]></if>
  	</sql>
	
	<!-- 插入记录 -->
	<insert id="insertEntry" parameterType="userUuid"  >
		<![CDATA[
		INSERT INTO user_uuid (
			user_id, user_name, sex, address, city, email, state
		) VALUES (
			#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}
		)
		]]>
	</insert>

	<!-- 批量插入记录 -->
	<insert id="insertEntryBatch" parameterType="java.util.List"  >
		<![CDATA[
		INSERT INTO user_uuid (
		    user_id, user_name, sex, address, city, email, state
		) VALUES ]]>
		<foreach collection="list" item="item" separator="," >
			<![CDATA[(
			    #{item.userId,jdbcType=VARCHAR}, #{item.userName,jdbcType=VARCHAR}, #{item.sex,jdbcType=INTEGER}, #{item.address,jdbcType=VARCHAR}, #{item.city,jdbcType=VARCHAR}, #{item.email,jdbcType=VARCHAR}, #{item.state,jdbcType=INTEGER}
			)]]>
		</foreach>
	</insert>
	
	<!-- 删除记录,主键删除 -->
	<delete id="deleteByKey" parameterType="long">
		<![CDATA[DELETE FROM user_uuid WHERE user_id = #{userId}]]>
	</delete>
	
	<!-- 删除记录,主键删除逻辑删除 -->
	<delete id="deleteByKeyLogic" parameterType="long">
		<![CDATA[UPDATE  user_uuid SET is_delete = 1 WHERE user_id = #{userId}]]>
	</delete>
	
	<!-- 删除记录,主键IN(array) -->
	<delete id="deleteByArrayKey" parameterType="java.lang.reflect.Array">
		<![CDATA[DELETE FROM user_uuid WHERE user_id IN]]>
		<foreach collection="array" item="id"  open="(" separator="," close=")">
			<![CDATA[#{id}]]>
		</foreach>
	</delete>
	
	<!-- 删除,通过条件 -->
	<update id="deleteByCondtion" parameterType="userUuid">
		<![CDATA[DELETE FROM user_uuid]]>
		<include refid="QUERY_WHERE_CLAUSE"/>
	</update>
	
	<!-- 修改记录通过主键 -->
	<update id="updateByKey" parameterType="userUuid">
		<![CDATA[UPDATE user_uuid]]>
		<include refid="UPDATE_COLUMN_SET"/>
		<![CDATA[WHERE user_id = #{userId}]]>
	</update>

	<!-- 修改记录通过主键(未删除) -->
	<update id="updateByKeyNotDelete" parameterType="userUuid">
		<![CDATA[UPDATE user_uuid]]>
	<include refid="UPDATE_COLUMN_SET"/>
		<![CDATA[WHERE user_id = #{userId} AND is_delete = false]]>
	</update>
	
	<!-- 查询,通过主键 -->
	<select id="selectEntry" parameterType="long" resultType="userUuid">
  		<![CDATA[SELECT]]>
    	<include refid="QUERY_COLUMN_LIST"/>
  		<include refid="QUERY_FROM_TABLE"/>
  		<![CDATA[WHERE user_id = #{userId}]]>
	</select>
	
	<!-- 查询,通过主键 -->
	<select id="selectSimpleEntry" parameterType="long" resultType="userUuid">
  		<![CDATA[SELECT]]>
    	<include refid="QUERY_SIMPLE_COLUMN_LIST"/>
  		<include refid="QUERY_FROM_TABLE"/>
  		<![CDATA[WHERE user_id = #{userId}]]>
	</select>
	
	<!-- 查询,通过条件 -->
	<select id="selectEntryList" parameterType="userUuid" resultType="userUuid">
  		<![CDATA[SELECT]]>
    	<include refid="QUERY_COLUMN_LIST"/>
  		<include refid="QUERY_FROM_TABLE"/>
  		<include refid="QUERY_WHERE_CLAUSE"/>
  		<include refid="QUERY_ORDER_LIMIT_CONDTION"/>
	</select>
	
	<!-- 查询简化版实例,通过条件 -->
	<select id="selectSimpleEntryList" parameterType="userUuid" resultType="userUuid">
  		<![CDATA[SELECT]]>
    	<include refid="QUERY_SIMPLE_COLUMN_LIST"/>
  		<include refid="QUERY_FROM_TABLE"/>
  		<include refid="QUERY_WHERE_CLAUSE"/>
  		<include refid="QUERY_ORDER_LIMIT_CONDTION"/>
	</select>
	
	<!-- 总数查询,通过条件 -->
	<select id="selectEntryListCount" parameterType="userUuid" resultType="int">
  		<![CDATA[SELECT COUNT(user_id) AS dataCount]]>
  		<include refid="QUERY_FROM_TABLE"/>
  		<include refid="QUERY_WHERE_CLAUSE"/>
	</select>
</mapper>
